.left-sidebar-menu li, .left-side-menu li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 5px 2px;
    .fa-star:hover {
        color: $color-midle-grey;
        transition: 0.5s;
        cursor: pointer;
    }
}

.left-sidebar {
    padding-top: 5px;
}

.head_table a, .left-sidebar a, .left-sidebar-menu a{
    display: inline-block;
    color:#fff;
    line-height: 1;
    text-decoration:none;
    cursor: pointer;
}

.head_table a:after, .left-sidebar a:after, .left-sidebar-menu a:after {
    background-color: #ffeb3b;
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    -webkit-transition: width .2s ease-in-out;
    -moz--transition: width .2s ease-in-out;
    transition: width .2s ease-in-out;
}

.head_table a:hover:after, .left-sidebar-menu a:hover:after, .left-sidebar a:hover:after,
a:focus:after {
    width: 100%;
}

.left-sidebar p {
    background-color: #04883b;
    color: #fff;
    padding: 6px 8px 6px 10px;
    text-decoration: none;
    font-family: "RobotoMedium";
    font-size: 12px;
}

.leftbar_btn {
    padding: 6px 8px 6px 10px;
    text-decoration: none;
    font-family: "RobotoMedium";
    font-size: 12px;
    color: #000000;
    display: block;
    border: none;
    background: $color-gold;
    width: 100%;
    text-align: left;
    outline: none;
    transition: 0.5s;
}

.country {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-grey;
    border-bottom-width: 1px; 
    border-bottom-style: solid; 
    border-bottom-color: #000;
    cursor: pointer;
}

// .leftbar-btn:hover {
//     background-color: #0aee28;
// }

.country:hover {
    background-color: #d5d3d1;
}

.left-side-menu {
    background-color: $color-dark-grey;
    padding-left: 8px;
    font-size: 10px;
    word-wrap: break-word;
}

.left-sidebar-menu {
    display: none;
    background-color: $color-dark-grey;
    padding-left: 8px;
    font-size: 10px;
    word-wrap: break-word;
}

.left-sidebar img, .tabContainer img {
    width: 20px;
    height: 14px;
    border: 1px solid $color-midle-grey;
    margin-right: 5px;
}

.fa-caret-down{
    float: right;
    padding-right: 0px;
}

.fa-times, .fa-plus {
    float: right;
    padding: 3px;
    cursor: pointer;
}

.fa-times:hover, .fa-plus:hover {
    color: #fff;
    transition: 0.5s;
}

.matches .fa-star {
    padding-left: 5px;
    cursor: pointer;
}

.matches .fa-star:hover {
    color: $color-midle-grey;
    transition: 0.5s;
}

hr {
    border: none;
    background-color: #000000; 
    color: #000000; 
    height: 1px; 
}

.matches, .ttable {
    font-family: "RobotoMedium";
    font-size: 12px;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
  }
  
  .matches td, .matches th,  .ttable td, .ttable th {
    border: 1px solid #807f7e;
    padding: 2px 0px;
    text-align: center;
    padding-left: 5px;
  }

  .matches td, .ttable td{
    cursor: pointer;
    color: #000;
    table-layout: fixed;
    padding: 0px 2px;
  }
  
  .matches tr:nth-child(2n+1){background-color: #e5e3e2;}
  .matches tr:nth-child(2n){background-color: #bfbebd;}

  .ttable tr:nth-child(2n+1){background-color: #e5e3e2;}
  .ttable tr:nth-child(2n){background-color: #bfbebd;}
  
  .matches tr:hover, .ttable tr:hover{background-color: #e5d4cc; transition: 0.5s;}
  
  .matches th {
    padding: 5px 10px;
    text-align: left;
    background-color: #555250;
    font-family: "RobotoMedium";
    color: #fff;
  }

  .active th{
    padding: 5px 10px;
    text-align: left;
    background-color: $color-gold;
    font-family: "RobotoMedium";
    color: #000;
    a {
        color:#000;
    }
  }

  .ttable th {
    padding: 5px;
    text-align: center;
    background-color: $color-light-grey;
    color: #000;
  }

  #my_league li {
    border-bottom: 1px solid #000;
  }

  .head_table {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .link_table {
        display: inherit;
        align-items: center;
    }
    img {
        margin-right: 10px;
        border: 1px solid $color-midle-grey;
    }
  }

