<% include layout/header.ejs %>
<div class="main">
        <div class="row">
    
            <div class="col-md-2">
                <div class="left-sidebar">               
                    <button class="leftbar_btn">
                        <i class="fa fa-star"></i>Мои лиги
                    </button>
                    <ul class="left-side-menu" id="my_league"></ul>
                    <hr>
            
                    <button class="leftbar_btn">
                        <i class="fa fa-star"></i>Мои команды
                    </button>
                    <hr>
            
                    <p>Страны</p>
                    <hr>
                </div>
            </div>
    
            <div class="col-md-7" >
                <div class="dateofmatch"></div>
                <div class="tabContainer">
                    <div class="buttonContainer">
                        <button onclick="showPanel(0,'#403f3f')">Все</button>
                        <button onclick="showPanel(1,'#403f3f')">Live</button>
                        <button onclick="showPanel(2,'#403f3f')">Завершенные</button>
                        <button onclick="showPanel(3,'#403f3f')">Расписание</button>
                        <button onclick="showPanel(4,'#403f3f')">Мои игры</button>
                    </div>
                    <div class="tabPanel" id="all_games"></div>
                    <div class="tabPanel" id="live_games"></div>
                    <div class="tabPanel" id="finished_games"></div>
                    <div class="tabPanel" id="scheduled"></div>
                    <div class="tabPanel" id="my_games"></div>
                </div>
            </div>
    
            <div class="col-md-3">
                <div class="name_tables"></div>
            </div>
        </div>
    </div>
<% include layout/footer.ejs %>