*{
    margin:0; 
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
    color: #333333;
}

.header {
    margin-top: 80px;
    text-align: center;
    font-size: 24px;
}

.list-lang ul {
    margin: 0;
    padding: 0;
    width: 135px;
    list-style: none;
    display: none;
    
}
.list-lang ul li {
    background: #0085b6;
    height: 35px;
}
.list-lang ul li:hover {
    background: #1d9fcb;
}
.list-lang ul li a {
    display: block;
    width: 100%;
    padding: 5px 35px;
    text-decoration: none;
    font-size: 15px;
    color: #fff;
}
    

.list-lang ul li:first-child a {
    background: url(../img/lang-eng.png) no-repeat 5px center;
}
.list-lang ul li:nth-child(2) a {
    background: url(../img/lang-rus.png) no-repeat 5px center;
}
.list-lang ul li:last-child a {
    background: url(../img/lang-ua.png) no-repeat 5px center;
}

.list-lang ul li {
        background: #0085b6;
        height: 35px;
}
.list-lang ul li:hover {
    background: #1d9fcb;
}
.list-lang ul li a {
    display: block;
    width: 100%;
    padding: 5px 35px;
    text-decoration: none;
    font-size: 15px;
    color: #fff;
}

.list-lang .lang {
    display: inline-block;
    width: 165px;
    height: 23px;
    padding: 0px 0px  0px 35px;
    font-size: 16px;
    line-height: 20px;
    border: 2px solid black;
    cursor: pointer;
    background: #eaecf0 url(../img/lang-rus.png) no-repeat 5px center;
}

.list-lang .lang::after {
    content: "";
    float: right;
    display: block;
    background: url(img/arrow_down.png) no-repeat 10px center;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
    
.list-lang.open .lang::after {
    background: url(img/arrow_up.png) no-repeat 10px center;
}
    
.list-lang.open ul {
    display: block;
}
    
        