<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EGScore</title>
    <link rel="stylesheet" href="stylesheets/bootstrap-grid.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.css">
</head>
<body>
<div class="container">
<div class="header">
    <div class="row align-items-center" >
        <div class="col-md-5 logo">
            <img src="../images/logo.png" alt="Логотип">
        </div>

        <div class="col-md-4 string">
            <p>Результаты онлайн и счет матчей</p>
        </div>

        <div class="col-md-3 btns">           
            <button class="reg">
                <p>Настройки</p><i class="fa fa-cog"></i>
            </button>           
            <% if(!user.id) { %>
            <button class="auth">
                <p>Вход</p><i class="fa fa-sign-in-alt"></i>
            </button>
            <% } else { %>
            <button class="out">
                <p><%= user.email %></p><i class="fa fa-sign-in-alt"></i>
            </button>
            <% } %>
        </div>    
    </div>
</div>
